<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi sitio!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        <header>
            <p>Mi Sitio!</p>
            <nav>
                <ul>
                    <li>
                        <a href="/peliculas/crear"> Crear Peli</a>
                    </li>
                    <li>
                        <a href="/peliculas">Ver Pelis</a>
                    </li>
                </ul>
            </nav>
        </header>